.App {
	text-align: center;
} 

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

<<<<<<< HEAD
=======

/* dashboard styles */
#dashboard_section {
	margin-left: 60px;
}

.cadencepage-menuslist {
	margin-top: 85px;
}

/* dashboard-section */

.dashboard-ecu-section {
	background: #fff;
	border: 1px solid #d9d9d9;
	padding: 1rem 0;
	line-height: 40px;
}

.dashboard-ecu-section ul.pnd-ec-ua {
	text-align: center;
}

.dashboard-ecu-section ul.pnd-ec-ua li {
	display: inline-block;
}

.dashboard-ecu-section ul.pnd-ec-ua li:first-child {
	display: inline-block;
	font-size: 40px;
	margin-right: 1rem;
}

.dashboard-ecu-section ul.pnd-ec-ua li .fa-envelope {
	color: #137AD4;
}

.dashboard-ecu-section ul.pnd-ec-ua li .fa-phone-alt {
	color: #6ACA25;
}

.dashboard-ecu-section ul.pnd-ec-ua li .fa-user-friends {
	color: #FD676A;
}

.dashboard-ecu-section ul.pnd-ec-ua li p {
	color: #333;
	font-size: 14px;
	font-weight: 800;
	text-align: left;
	margin-bottom: 0;
}

.dashboard-ecu-section ul.pnd-ec-ua li p span {
	display: block;
	color: #2A6C8E;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
}

/* dials-validconnects-talktime */

.d-vc-tt-section {
	/* padding: 1rem;	 */
}

.d-vc-tt-section .me-lw-sec {
	padding-bottom: 1rem;
}

.d-vc-tt-section .me-lw-sec ul li {
	display: inline-block;
	margin-left: 10px;
	color: #404040;
}

.d-vc-tt-section .me-lw-sec ul li span {
	margin-right: 10px;
	color: #cbcbcb;
	font-size: 18px;
}

.d-vc-tt-section .me-lw-sec .bootstrap-select {
	width: 125px !important;
	margin-top: -5px;
	margin-left: -10px;
}

.d-vc-tt-section .me-lw-sec .bootstrap-select .btn-light {
	border: 0;
}

.d-vc-tt-section .dashboardtable1 {
	box-shadow: 0px 1px 5px 0px #B2B2B2;
	-webkit-box-shadow: 0px 1px 5px 0px #B2B2B2;
}

.d-vc-tt-section .dashboardtable1 tr {
	height: 50px;
}

.d-vc-tt-section .dashboardtable1 thead th,
.d-vc-tt-section .dashboardtable1 tbody td {
	border-top: 0;
	/* padding-left: 0; */
}

.d-vc-tt-section .dashboardtable1 tr.white {
	background: #fff;
	color: #0997FB;
}

.d-vc-tt-section .dashboardtable1 tr.white span.icon .fa-phone-alt {
	color: #ccc;
	font-size: 18px;
}

.d-vc-tt-section .dashboardtable1 tr.white span.phone-call {
	/* background: url(../images/sprite-svg.svg) no-repeat -158px -54px; */
	width: 18px;
	height: 18px;
	display: inline-block;
}

.d-vc-tt-section .dashboardtable1 tr.white span.circle {
	/* background: url(../images/sprite-svg.svg) no-repeat -180px -52px; */
	width: 20px;
	height: 20px;
	display: inline-block;
}

.d-vc-tt-section .dashboardtable1 tr.white span {
	font-size: 12px;
	color: #7d7d7d;
}

.d-vc-tt-section .dashboardtable1 tr.l-gray {
	background: #f2f2f2;
	border-bottom: 2px solid #fff;
	color: #4d4d4d;
}

.d-vc-tt-section .dashboardtable1 tr.l-gray .fa-star {
	color: #FD9927;
	font-size: 14px;
}

.d-vc-tt-section .dashboardtable1 tr.l-blue {
	background: #D5EEFC;
	border-bottom: 2px solid #fff;
	color: #4d4d4d;
}

.d-vc-tt-section .dashboardtable1 tr.l-gray span,
.d-vc-tt-section .dashboardtable1 tr.l-blue span {
	color: #005D9B;
	font-weight: 700;
}

.ec-met-section {
	margin-top: 1.5rem;
}

.ec-met-section h1 {
	font-size: 1em;
	color: #0997FB;
	font-weight: bold;
}

.ec-met-section h1 .icon {
	color: #ccc;
	font-size: 20px;
	margin-right: 15px;
}

.ec-met-section h1 span {
	color: #434343;
	font-size: 14px;
	margin-left: 2rem;
}

.ec-met-section ul.email-metrics-box {
	/* margin: 2rem 0 2rem 2rem; */
	margin-top: 2rem;
	margin-left: -7px;
	margin-right: -5px;
}

.ec-met-section ul.email-metrics-box li {
	display: inline-block;
	color: #005D9B;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	width: 95px;
	height: 165px;
	margin-right: 10px;
	padding-top: 45px;
	box-shadow: 0px 0px 3px 1px #ccc;
	-webkit-box-shadow: 0px 0px 3px 1px #ccc;
}

.ec-met-section ul.email-metrics-box li:last-child {
	margin-right: 0;
}

.ec-met-section ul.email-metrics-box li p {
	display: block;
	color: #434343;
	font-size: 18px;
	font-weight: 500;
	padding-top: 2rem;
}

.ec-met-section ul.email-metrics-box li p span {
	color: #ccc;
	margin-right: 10px;
}

.ec-met-section ul.email-metrics-box li p span i.forward {
	display: inline-block;
	/* background: url(../images/sprite-svg.svg) no-repeat -50px -68px; */
	width: 18px;
	height: 15px;
}

.ec-met-section ul.email-metrics-box li p span i.thumb {
	display: inline-block;
	/* background: url(../images/sprite-svg.svg) no-repeat -95px -62px; */
	width: 16px;
	height: 21px;
	margin-top: -5px;
}

.ec-met-section ul.email-metrics-box li p span i.reply-all {
	display: inline-block;
	/* background: url(../images/sprite-svg.svg) no-repeat -70px -68px; */
	width: 24px;
	height: 15px;
}

.ec-met-section .call-metrics-box {
	max-width: 100%;
	height: 165px;
	padding: 2rem 0;
	margin: 2rem 0 2rem 0;
	box-shadow: 0px 0px 3px 1px #ccc;
	-webkit-box-shadow: 0px 0px 3px 1px #ccc;
}

.ec-met-section .call-metrics-box .pro-bar {
	margin: .5rem 0;
}

.ec-met-section .call-metrics-box .pro-bar p {
	font-size: 14px;
	color: #404040;
	text-align: right;
	margin: 0;
}

.ec-met-section .call-metrics-box .pro-bar .progress {
	margin-top: .35rem;
	height: .5rem;
	background-color: #D9D9D9;
	border-radius: 0;
	-webkit-border-radius: 0;
}

.ec-met-section .call-metrics-box .pro-bar h1 {
	font-size: 16px;
	color: #005D9B;
	font-weight: bold;
}

.cadence-graph {
	max-width: 100%;
	height: 360px;
	padding: 2rem 0;
	margin: 2rem 0 2rem 0;
	box-shadow: 0px 0px 3px 1px #ccc;
	-webkit-box-shadow: 0px 0px 3px 1px #ccc;
	margin-left: 2rem;
}

.cadenceAnalytics h1 {
	font-size: 1em;
	color: #0997FB;
	font-weight: bold;
}

.cadenceAnalytics h1 .icon {
	color: #ccc;
	font-size: 20px;
	margin-right: 15px;
}

.cadenceAnalytics h1 span {
	color: #434343;
	font-size: 14px;
	margin-left: 2rem;
}

ul.future-tasks {
	margin-top: 30px;
	margin-right: -83px;
	margin-left: -15px;
}

ul.future-tasks li {
	display: flex;
	color: #005D9B;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	width: 75%;
	height: 111px;
	margin-right: 0px;
	padding-top: 10px;
	flex-direction: column;
	padding-bottom: 85px;
	margin-bottom: 15px;
	/* // flex-direction: column;
	  // padding-bottom: 100px;
	  // margin-bottom: 15px; */
	box-shadow: 0px 0px 3px 1px #ccc;
	-webkit-box-shadow: 0px 0px 3px 1px #ccc;
}

ul.future-tasks li p {
	display: block;
	color: #434343;
	font-size: 18px;
	font-weight: 500;
	padding-top: 1.5rem;
}

ul.future-tasks li p span {
	color: #ccc;
	margin-right: 10px;
}

.card {
	margin-bottom: 3.25rem;
	height: 80%;
}

.tbgwidth {
	max-width: 100%;
	overflow-x: auto;
}

.days-wrapper .day .hour {
	width: 64px;
	height: 35px;
	margin: 1px 1px 0 0;
	background: #dddddd;
	float: left;
	cursor: pointer;
}

.active-block {
	width: 64px;
	height: 35px;
	margin: 1px 1px 0 0;
	background-color: #7fc54c;
	float: left;
	cursor: pointer;
}

.schedule {
	width: 100%
}

.schedule .hour-header {
	width: 3143px;
	padding-left: 0;
	padding-bottom: 10px;
	overflow: hidden
}

.schedule .hour-header .hour-header-item {
	float: left;
	width: 65px;
	text-align: center
}

.schedule .hour-header .hour-header-item h5 {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: normal;
}

.timeshedule {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 3143px;
	display: flex;
	flex-direction: row;
	justify-content: center
}

.days-wrapper {
	width: 3120px;
	float: left;
	position: relative;
	padding-left: 0;
}

.schedule .header {
	float: left;
	position: absolute;
	top: 0;
	left: 0px;
	background: #fff;
	z-index: 1;
	padding-top: 24px
}

.schedule .header h3 {
	margin: 0;
	padding: 10px 10px;
	font-size: 14px;
	font-weight: normal;
}

.days-wrapper .day {
	float: left;
	width: 3120px;
	position: relative
}

.schedule .header .header-item {
	position: relative
}

.Toastify__toast-container--top-right {
	top: -1em;
}

.borderless {
	border: none
}
>>>>>>> fc63478180ce21e7642a64ec16fcb237673b2ef7
